#nav {
  #nav-menu {
    ul li a {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $TextColor;
      padding: 26px 15px;
      transition: 0.5s;
      position: relative;
      span {
        position: absolute;
        top: 28px;
        right: 0;
      }
      &:hover {
        color: $praimaryColor;
      }
    }
  }
  .fa-icon {
    ul li a {
      display: inline-block;
      font-size: 16px;
      color: $PrimaryColor3;
      padding: 0px 12.5px;
      transition: 0.5s;
      #m-glass {
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
      &:hover {
        color: $praimaryColor;
      }
    }
  }
}
