$praimaryColor: #ff6f61;
$ParagraphColor: #444444;
$PrimaryColor2: #ff5645;
$TextColor: #11161e;
$PrimaryColor3: #151a32;
$BackgroundColor: #a6aab7;
$lightColor: #ffffff;
$bgColor:#F1F3F4;
$blackColor:#000000;
$primaryFont:'Josefin Sans', sans-serif;
$secoundryFont:'Roboto', sans-serif;
$shadow1:0px 3px 10px 0px rgb(0, 0, 0, 8%) ;
$shadow2:0px 0px 50px 0px rgb(21, 26, 50, 10%) ;
$shadow3:0px 5px 30px 0px rgb(17, 22, 30, 8%) ;